@page
@model BillingNextQuotation.QuotationNote.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuotationNote[0].NoteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuotationNote[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuotationNote[0].IsNoteDefault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuotationNote[0].Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.QuotationNote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNoteDefault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.QuotationNoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.QuotationNoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.QuotationNoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
