@page "{id}"
@model BillingNextQuotation.QuotationDetails.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
@if (Model.firstRowOnlyFlag == 1)
{
    <div class="alert alert-danger" role="alert">
        This is the only product left in Quotation: @Model.QuotationDetails.Quotation.QuotationNumber . This please add a product to this Quotation soon after deleting this item.
    </div>
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Product Entry</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.Quotation.QuotationNumber)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.Quotation.QuotationNumber)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.SequenceNumber)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.SequenceNumber)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.ProductName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.ProductName)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.SheetMeasurementOptions)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.SheetMeasurementOptions)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.SheetSizingOptions)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.SheetSizingOptions)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.ProductDimensionX)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.ProductDimensionX)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.ProductDimensionY)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.ProductDimensionY)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.ProductQuantity)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.ProductQuantity)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.ProductRate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.ProductRate)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.TotalArea)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.TotalArea)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.QuotationDetails.ProductAmount)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuotationDetails.ProductAmount)
        </dd>
    </dl>

    <form method="post">
        @if (Model.firstRowOnlyFlag == 1)
        {
            <input type="hidden" name="flag" value="1" />
        }
        else
        {
            <input type="hidden" name="flag" value="0" />
        }
        <input type="hidden" asp-for="QuotationDetails.QuotationDetailsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Quotation/Admin/Edit" asp-route-id="@Model.QuotationDetails.QuotationId">Back to Edit Quotation</a> |
        <a asp-page="/Quotation/Admin/Index">Back to Quotation List</a>
    </form>
</div>
